html{
    overflow: hidden;
}
#logo{
    width:100vw;
    object-fit: cover;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../img/bg.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* filter: blur(2px); */
    opacity: 0.5;
    z-index: -1;
}
.content{
    display: block;
    background-color: white;
    height: 85vh;
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}
#attd_containter{
    align-items: center;
}
#attd_containter h1,h2{
    text-align: center;
}
#attd_containter h2{
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
#attd_form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_submit{
    margin-top: 28px;
    width: 100%;
}
#isFail{
    color: red;
    font-size: 80%;
    font-style: italic;
    display: none;
  }
#attd_container{ 
    display: none;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99999;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }