html{
    /* overflow: hidden; */
}
#logo{
    width:100vw;
    object-fit: cover;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../img/bg.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* filter: blur(2px); */
    opacity: 0.5;
    z-index: -1;
}
.content{
    display: block;
    background-color: white;
    height: 85vh;
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}
#attd_containter{
    align-items: center;
}
#attd_containter h1,h2{
    text-align: center;
}
#attd_containter h2{
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}
#attd_form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_submit{
    margin-top: 28px;
    width: 100%;
}
#isFail{
    color: red;
    font-size: 80%;
    font-style: italic;
    display: none;
  }
#attd_container{ 
    display: none;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99999;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }

  .autocomplete-items .isChecked {
    padding: 10px;
    cursor: pointer;
    background-color:red;
    border-bottom: 1px solid #d4d4d4;
  }

  #addForm input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}
.input-groupd {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
  #first_name {
      width: 100%;
  }


  /* SRC: https://sabe.io/tutorials/how-to-create-modal-popup-box */
  .cmodal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.cmodal-content {
    /* width: 50vw;
    height: 50vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-cmodal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}